asgiref==3.3.2
certifi==2020.12.5
chardet==4.0.0
colorama==0.4.4
Django==3.1.8
django-qrcode==0.3
djitellopy==1.5
djitellopy2==2.3
docutils==0.17
idna==2.10
image==1.5.33
Kivy==2.0.0
kivy-deps.angle==0.3.0
kivy-deps.glew==0.3.0
kivy-deps.sdl2==0.3.1
Kivy-Garden==0.1.4
numpy==1.20.2
opencv-python==4.5.1.48
Pillow==8.2.0
pygame==2.0.1
Pygments==2.8.1
pyperclip==1.8.2
pypiwin32==223
PySimpleGUI==4.38.0
pytz==2021.1
pywin32==300
pyzbar==0.1.8
qrcode==6.1
requests==2.25.1
six==1.15.0
sqlparse==0.4.1
urllib3==1.26.4
